body{
    font-family: Montserrat;
    margin: 0;
    padding: 0;
}
header{
    background-image: url(image/cover.png);
    background-size: cover;
    height: 793px;
}
.wrap{
    width: 1140px;
    margin: auto;
}
nav{
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
}
.head-logo{
    font-size: 24px;
    font-weight: 700;
    color: #252B42;
}
.nav-item-1{
    width: 500px;
    display: flex;
    justify-content: space-between;
}
.head-menu{
    width: 280px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head-menu a{
    text-decoration: none;
    color: #737373;
    font-size: 14px;
    font-weight: 600;
}
.head-title{
    width: 509px;
    padding-top: 120px;
    font-size: 58px;
    font-weight: 800;
    line-height: 80px;
    color: #252B42;
}
.head-subtitle{
    padding-top: 40px;
    color: #737373;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}
.head-btns{
    width: 350px;
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;
}
.head-btns a{
    text-decoration: none;
}
.head-btn-left{
    padding: 10px 35px;
    background-color: #FFA62B;
    border-radius: 50px;
    color: #fff;
}
.head-btn-left a{
    color: #fff;
}
.head-btn-right{
    padding: 10px 35px;
    border-radius: 50px;
    border: 2px solid #00A0C1;
}
.head-btn-right a{
    color: #00A0C1;
}
