*{
    box-sizing: border-box;
}
body{
    font-family: Montserrat;
    margin: 0;
    padding: 0;
}
header{
    background-image: url(image/cover.png);
    background-size: cover;
    height: 793px;
}
.wrap{
    width: 1140px;
    margin: auto;
}
nav{
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
}
.head-logo{
    font-size: 24px;
    font-weight: 700;
    color: #252B42;
}
.nav-item-1{
    width: 500px;
    display: flex;
    justify-content: space-between;
}
.head-menu{
    width: 280px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head-menu a{
    text-decoration: none;
    color: #737373;
    font-size: 14px;
    font-weight: 600;
}
.head-title{
    width: 509px;
    padding-top: 120px;
    font-size: 58px;
    font-weight: 800;
    line-height: 80px;
    color: #252B42;
}
.head-subtitle{
    padding-top: 40px;
    color: #737373;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}
.head-btns{
    width: 350px;
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;
}
.head-btns a{
    text-decoration: none;
}
.head-btn-left{
    padding: 10px 35px;
    background-color: #FFA62B;
    border-radius: 50px;
    color: #fff;
}
.head-btn-left a{
    color: #fff;
}
.head-btn-right{
    padding: 10px 35px;
    border-radius: 50px;
    border: 2px solid #00A0C1;
}
.head-btn-right a{
    color: #00A0C1;
}
.head-cards{
    position: relative;
}
.head-card-position{
    position: absolute;
    top: 40px;
    width: 1140px;
    display: flex;
    justify-content: space-between;
}
.head-cards-item-white{
    width: 328px;
    padding: 40px  0 35px 40px;
    background-color: #fff;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}
.head-cards-item-blu{
    width: 328px;
    padding: 40px  0 35px 40px;
    background-color: #00A0C1;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    color: #fff;
}
.head-card-title{
    font-size: 24px;
    font-weight: 700;
}
.head-card-icon{
    height: 48px;
}
.head-cards-item-white .head-card-desc{
    color: #737373;
}
.head-card-desc{
    font-size: 14px;
    font-weight: 500;
}
.main-titles{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    color: #252B42;
    padding-bottom: 10px;
}
.stat-section{
    padding: 200px 0 80px 0;
    background-color: #FAFAFA;
}
.main-desc{
    margin: auto;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    padding-top: 15px;
    color: #737373;
}
.stat-cards{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.stat-card{
    width: 230px;
    background-color: #fff;
    text-align: center;
    padding: 30px 0;
}
.statistics{
    padding-top: 10px;
    font-size: 40px;
    font-weight: 700;
    line-height: 57px;
}
.stat-txt{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}
.features{
    background-color: #FAFAFA;
    padding: 100px 0;
}
.features-cards{
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}
/* .features-card{
    width: 230px;
} */
.features-card-txt{
    padding: 30px;
    background-color: #fff;
    width: 230px;
}
.features-card-desc{
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #737373;
}
.about{
    padding: 100px 0;
}
.about-flex{
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
}
.about-txt{
    width: 360px;
}
.about-img{
    position: relative;
}
.about-btn{
    position: absolute;
    top: 172px;
    left: 250px;
}
.about-flex .main-titles, 
.about-flex .main-desc{
    text-align: left;
}
.about-flex-txt{
    display: flex;
    justify-content: space-between;
    padding: 40px 0 0 0;
}

.about-subtitle{
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
}
.subdesc{
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    color: #737373;
}
